.main {
  max-width: 1100px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 140px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 18px;
}

.checkout-grid {
  display: grid;
  grid-template-columns: 1fr 350px;
  column-gap: 12px;
  align-items: start;
}

@media (max-width: 1000px) {
  .main {
    max-width: 500px;
  }

  .checkout-grid {
    grid-template-columns: 1fr;
  }
}

.cart-item-container,
.payment-summary {
  border: 1px solid rgb(222, 222, 222);
  border-radius: 4px;
  padding: 18px;
}

.cart-item-container {
  margin-bottom: 12px;
}

.payment-summary {
  padding-bottom: 5px;
}

@media (max-width: 1000px) {
  .payment-summary {
    grid-row: 1;
    margin-bottom: 12px;
  }
}

.delivery-date {
  color: rgb(0, 118, 0);
  font-weight: 700;
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 22px;
}

.cart-item-details-grid {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  column-gap: 25px;
}

@media (max-width: 1000px) {
  .cart-item-details-grid {
    grid-template-columns: 100px 1fr;
    row-gap: 30px;
  }
}

.product-image {
  max-width: 100%;
  max-height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.product-name {
  font-weight: 700;
  margin-bottom: 8px;
}

.product-price {
  color: rgb(177, 39, 4);
  font-weight: 700;
  margin-bottom: 5px;
}

.product-quantity .link-primary {
  margin-left: 3px;
}

@media (max-width: 1000px) {
  .delivery-options {
    grid-column: 1 / span 2;
  }
}

.delivery-options-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.delivery-option {
  display: grid;
  grid-template-columns: 24px 1fr;
  margin-bottom: 12px;
  cursor: pointer;
}

.delivery-option-input {
  margin-left: 0px;
  cursor: pointer;
}

.option-date-delivery {
  color: rgb(0, 118, 0);
  font-weight: 500;
  margin-bottom: 3px;
}
.delivery-option-dat {
  color: rgb(0, 118, 0);
  font-weight: 500;
  margin-bottom: 3px;
}
.delivery-option-da {
  color: rgb(0, 118, 0);
  font-weight: 500;
  margin-bottom: 3px;
}

.delivery-option-price {
  color: rgb(120, 120, 120);
  font-size: 15px;
}

.payment-summary-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}

.payment-summary-row {
  display: grid;
  grid-template-columns: 1fr auto;

  font-size: 15px;
  margin-bottom: 9px;
}

.payment-summary-money {
  text-align: right;
}

.subtotal-row .payment-summary-money {
  border-top: 1px solid rgb(222, 222, 222);
}

.subtotal-row div {
  padding-top: 9px;
}

.total-row {
  color: rgb(177, 39, 4);
  font-weight: 700;
  font-size: 18px;

  border-top: 1px solid rgb(222, 222, 222);
  padding-top: 18px;
}

.place-order-button {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  margin-top: 11px;
  margin-bottom: 15px;
}

.quantity-input {
  width: 50px;
  font-size: 16px;
  display: none;
}

.save-quantity-link {
  display: none;
}

.is-editing-quantity .quantity-input {
  display: initial;
}

.is-editing-quantity .save-quantity-link {
  display: initial;
}

.is-editing-quantity .update-quantity-link {
  display: none;
}

.checkout-container {
  display: grid;
  grid-template-columns: 1fr 350px;
  column-gap: 12px;
  align-items: start;
}
.view-product-button {
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  margin-top: 10px;

  color: rgb(33, 33, 33);
  background-color: rgb(255, 216, 20);
  border: 1px solid rgb(252, 210, 0);
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}

.paypal-toggle {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.paypal-checkbox {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-left: 10px;
}
.paypal-button {
  width: 100%;
  border-radius: 5px;
  margin-top: 11px;
  margin-bottom: 12px;
  background-color: rgb(255, 216, 20);
  border: none;
}
.palpal-img {
  width: 100px;
  object-fit: contain;
  height: 40px;
}
.hide {
  display: none;
}

.payment-paypal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: none;
  background-color: #2c2e2f;
  color: white;
  padding: 14px;
  gap: 7px;
  font-size: 15px;
}
.credit-icon {
  width: 60px;
  height: 42px;
}
